html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

a:hover {
    color: grey;
}

a:active {
    color: red;
}

a {
    color: white;
}

#welcome {
    background-image: url("../images/sluchawki.png");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Pacifico, open-sans;
}

header {
    width: 1000px;
    margin: 0 auto;
}

.menu {
    font-family: 'Gloria Hallelujah', cursive;
}

.menu li {
    display: inline-block;
    font-size: 16px;
    padding: 50px 13px 0 50px;
}

#panel {
    float: right;
    margin: 0 auto;
    margin-top: -50px;
    margin-right: -50px;
    width: 100px;
    color: white;
}

.login .pass {
    display: inline-block;
}

.check {
    display: inline-block;
    float: none;
    font-size: 11px;
    padding: 5px;
}

.submit {
    width: 70px;
    padding: 5px 13px;
    border: 1px solid #404040;
    color: white;
    background: #404040;
    position: relative;
}

#head {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin: 0 auto;
    height: 280px;
}

#head h1 {
    margin-top: 150px;
    margin-left: 150px;
}

.slider ul {
    list-style: none;
}

.slider li img:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
    /*transform: rotate(360deg);*/
}

.slider li {
    display: none;
}

.slider .visible {
    display: inline-block;
}

.slider_portf {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 40px 0;
}

#container {
    display: inline-block;
    width: 1024px;
    height: 500px;
}

.gif {
    background-image: url("../images/giphy.gif");
    background-repeat: no-repeat;
    height: 500px;
    /*    margin-left: -600px;*/
}

#prevPicture {
    transform: translate(-40px, -200px);
}

#nextPicture {
    /* float:right;*/
    transform: translate(40px, -200px);
}

#nextPicture,
#prevPicture {
    box-sizing: border-box;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    background-color: #ffffff;
    opacity: 0.8;
}

ul.gallery {
    list-style: none;
    width: 100%;
}

.gallery li {
    display: inline-block;
}

.gallery li img {
    width: 15vw;
    height: 15vw;
    border: 0.1rem solid black;
    padding: 1.2rem;
}

.gallery li img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    transform: rotate(360deg);
}

#section2 {
    margin-top: 9.7vw;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    height: 48.8vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.fullScreen {
    position: fixed;
    width: 100vw;
    height: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}

.fullScreen .close {
    display: block;
    margin: auto;
}

.close {
    font-size: 2rem;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
    height: 5rem;
    width: 6rem;
}

.fullScreen img {
    display: block;
    margin: 2rem auto;
    width: 80rem;
    height: 80rem;
}


/*
section.black {
    box-sizing: border-box;
    width: 100%;
    opacity: 0.7;
    height: 480px;
    float: right;
    background-color: #404040;
}
*/

.li2 {
    margin-top: 20px;
    padding: 10px 13px 20px 50px;
    margin-bottom: 100px;
    color: #ffffff;
    display: block;
    /*
    animation-name: pulsowanie;
    animation-duration: 4s;
    animation-iteration-count: infinite;
*/
}

#moviesec {
    height: 500px;
    width: 1024px;
}

video {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    float: right;
}

.another {
    margin-top: 50px;
    margin-left: -150px;
    box-sizing: border-box;
    width: 500px;
    color: black;
    float: left;
    font-size: 1.5rem;
    font-family: Pacifico, sans-serif;
    justify-content: space-around;
}


/*.menu_end {*/


/*    font-family: Times, sans-serif;*/


/*}*/


/*.menu_end ul>a {*/


/*    display: inline-block;*/


/*    padding: 50px 15px 15px 50px;*/


/*}*/

footer {
    width: 100%;
    background-color: #000000;
    width: 100%;
    margin-top: -5vw;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 80rem;
    color: white;
    transform: translate(50px, 100px);
}

.page-header {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 4rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

form {
    width: 100%;
}

.form-group {
    display: block;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 4rem;
    text-transform: uppercase;
}

#name {
    margin-bottom: 4rem;
    display: block;
    background-color: transparent;
    border: .2rem solid #ffffff;
    width: 70rem;
    height: 4em;
}

#email {
    margin-bottom: 4rem;
    color: #ffffff;
    display: block;
    background-color: transparent;
    border: .2rem solid #ffffff;
    width: 70rem;
    height: 4em;
}

textarea {
    overflow: auto;
    background-color: transparent;
    border: 0.2rem solid #ffffff;
    width: 90vw;
    height: 20em;
}

button.btn-primary {
    margin-top: 3.5vw;
    display: block;
    color: #ffffff;
    box-sizing: border-box;
    width: 30%;
    height: 5rem;
    opacity: 0.9;
    text-decoration: none;
    background-color: #ff0000;
    float: left;
}

.error-message {
    color: #ed2553;
    font-size: 1.2rem;
    margin-top: 12rem;
    font-weight: bold;
}

.success-message {
    color: #3D9970;
    font-size: 1.2rem;
    margin-top: 12rem;
    font-weight: bold;
}

.box-error {
    border: 0.1rem solid #ed2553;
}

.first_p {
    display: block;
    box-sizing: border-box;
    width: 60%;
    height: 20rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    clear: both;
    float: right;
    margin-top: -65rem;
}

.contact_data {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

.copy {
    float: right;
    margin-right: 200px;
    font-style: italic;
}

.container {
    width: 1024px;
}
