html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

.section1 {
    width: 80vw;
    margin-bottom: 4.8vw;
}

a.contest {
    margin: -2vw 0 0 30vw;
    width: 20vw;
}

img.contest {
    width: 40vw;
    margin-top: -10rem;
    margin-bottom: 5em;
}

#logo {
    float: left;
    margin: 4.8vw 0 0 4.8vw;
    width: 19.5vw;
}

.menu {
    width: 90%;
    height: 10vw;
    clear: both;
    float: right;
    animation: pulsowanie 3s infinite alternate;
    -moz-animation: pulsowanie 3s infinite alternate;
    -webkit-animation: pulsowanie 3s infinite alternate;
    /*??*/
}

ul.menu {
    float: right;
    font-family: Arial, sans-serif;
    margin-right: -10rem;
}

.menu li {
    margin-top: 5rem;
    float: right;
    padding: 0 2rem;
    display: inline-block;
    text-decoration: none;
    color: #454343;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0 auto;
}

li#portfolio {
    font-size: 3rem;
    font-weight: lighter;
    float: left;
    margin: 0 auto;
    margin-left: -10rem;
}

li.all {
    color: #ff0000;
    border: 0.2rem solid #ff0000;
}

li:hover {
    font-weight: bold;
    font-size: 1.8rem;
}

.all li:hover {
    color: white;
    background-color: #ff0000;
}

#section2 {
    margin-top: 9.7vw;
    width: 80%;
    margin: 0 auto;
    margin-right: 3%;
    box-sizing: border-box;
    height: 48.8vw;
}

ul.gallery {
    list-style: none;
    width: 100%;
}

.gallery li {
    display: inline-block;
}

.gallery li img {
    width: 15vw;
    height: 15vw;
    border: 0.1rem solid black;
    padding: 1.2rem;
}

.gallery li img:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    transform: rotate(360deg);

}

.fullScreen {
    position: fixed;
    width: 100vw;
    height: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
}

.fullScreen .close {
    display: block;
    margin: auto;
}

.close {
    font-size: 2rem;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
    height: 5rem;
    width: 6rem;
}

.fullScreen img {
    display: block;
    margin: 2rem auto;
    width: 80rem;
    height: 80rem;
}

footer {
    width: 100%;
    margin-top: -5vw;
    background-image: url('../images/gotowe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 80rem;
    color: white;


}

.page-header {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 4rem;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.form-group {
    display: block;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0 4rem;
    text-transform: uppercase;
}

#name {
    margin-bottom: 4rem;
    display: block;
    background-color: transparent;
    border: .2rem solid #ffffff;
    width: 70rem;
    height: 4em;
}

#email {
    margin-bottom: 4rem;
    color: #ffffff;
    display: block;
    background-color: transparent;
    border: .2rem solid #ffffff;
    width: 70rem;
    height: 4em;
}

textarea {
    overflow: auto;
    background-color: transparent;
    border: 0.2rem solid #ffffff;
    width: 90vw;
    height: 20em;
}

button {
    margin-top: 3.5vw;
    display: block;
    color: #ffffff;
    box-sizing: border-box;
    width: 30%;
    height: 5rem;
    opacity: 0.9;
    text-decoration: none;
    background-color: #ff0000;
    float: left;
}

.error-message {
    color: #ed2553;
    font-size: 1.2rem;
    margin-top: 12rem;
    font-weight: bold;
}

.success-message {
    color: #3D9970;
    font-size: 1.2rem;
    margin-top: 12rem;
    font-weight: bold;
}

.box-error {
    border: 0.1rem solid #ed2553;
}

.first_p {
    display: block;
    box-sizing: border-box;
    width: 40%;
    height: 20rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    clear: both;
    float: right;
    margin-top: -65rem;
}

.contact_data {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}
