html {
    10px;
}

* {
    box-sizing: border-box;
}

#app {
    color: #ffffff;
    font-size: 2rem;
    padding-top: 5rem;
    margin-left: 25%;
}

audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

header {
    width: 100%;
    margin-top: -5rem;
    background-image: url('../images/porshe.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}

ul {
    /*    margin-top: 100px;*/
    list-style: none;
    color: white;
    list-style-type: none;
}

a {
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
}

ul.right {
    float: right;
    margin-right: 5rem;
}

.container {
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        display: block;
        background-color: red;
        float: left;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        width:
    }
}
