
#app {
    color: #ffffff;
    font-size: 40px;
    padding-top: 50px;
    margin-left: 25%;
}

header {
    width: 200vh;
    height: 50vw;
    background-image: url('../images/porshe.JPG');
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
/*    margin-top: 100px;*/
    list-style: none;
    color: white;
    list-style-type: none;
   
}
ul.left{
    margin-left:50px;
}

a {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

ul.right {
    float: right;
    margin-right: 50px;
   
}
.container{
    padding-top: 20px;
}

